<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Book Online</title>
    <!-- Custom styles for this template -->
    <link href="/css/form.css" rel="stylesheet">
    <style>
      .nav-item a{
            color: yellow;
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        }
        .nav-item a:hover{
            color: white;
            box-shadow: inset 120px 0 0 0 gold;
        }
    </style>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <header>
        <div class="header">
          <h1>Book a Valet</h1>
        </div>
    </header>
    
    <%- include('../partials/footer') %>
  </body>
</html>